.DS_Store
node_modules/
ios/
android/
www/
package.json
package-lock.json
capacitor.config.json
_backup/
ios/
android/
www/
node_modules/
repertuvar/
_backup/
ios/
android/
www/
node_modules/
repertuvar/
client_secret*.json
